<?xml version="1.0" encoding="utf-8" ?>
<AlbianObjects>
  <AlbianObject Type="albianj.main.Order">
    <Cache Enable="true" LifeTime="300"></Cache>
    <Members>
      <Member Name="id" FieldName="OrderId" AllowNull="false" Length="32" PrimaryKey="true" DbType="string" IsSave="true"/>
    </Members>
  </AlbianObject>
</AlbianObjects>
